* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */

header {
    width: 100%;
    height: 165px;
    background-color: rgb(64, 155, 225);
    background-image: url("../img/pattern.png");
    background-size: 650px;
}

.logo {
    width: 250px;
    height: 200px;
    padding-top: 30px;
    padding-left: 5px;
    
}

/* main  */
main {
    padding-left: 5px;
}

h1 {
    font-size: 55px;
}

.title {
    color: rgb(76, 192, 235); 
}

.title-main, h4 {
    color: grey;
}

.img-1{
    width: 56%;
    height: 400px;
}
.img-2{
    width: 42%;
    height: 400px;
 }

.underline {
    background-color: yellow;
}

ul {
    padding-left: 21px; 
}

table {
    width: 100%;
    border-spacing: 0px;
}

thead {
    width: 100%;
    background-color: rgb(99, 201, 255);
    text-align: left;
}

.row-3{
    width: 50%;
}

.light-blue {
    text-align: left;
    background-color: rgb(182, 232, 247);
}

.footer-img1 {
    
    width: 280px;
    height: 200px;
    background-image: url("./img/monitor.jpg");
    padding: 10px;
    display: inline-block;
    margin: 15px 0px;
    color: white;
}

.footer-img2 {
    width: 280px;
    height: 200px;
    background-image: url("./img/graph.jpg");
    color: white;
    padding: 10px;
}

.p-footer {
    padding: 10px;
    font-size: 20px;
}